[project]
	description = ??????
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/dhshen (dhshen)
[access "refs/for/refs/*"]
	read = group user/dhshen (dhshen)
	push = group user/dhshen (dhshen)
	label-Code-Review = -2..+2 group user/dhshen (dhshen)
	label-Verified = -1..+1 group user/dhshen (dhshen)
	rebase = group user/dhshen (dhshen)
	removeReviewer = group user/dhshen (dhshen)
	submit = group user/dhshen (dhshen)
[access "refs/heads/*"]
	read = group user/dhshen (dhshen)
	create = group user/dhshen (dhshen)
	push = +force group user/dhshen (dhshen)
	pushMerge = group user/dhshen (dhshen)
[access "refs/tags/*"]
	push = group user/dhshen (dhshen)
	push = +force group user/dhshen (dhshen)
